<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>Close To Home | About</title>

    
    
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <!-- Fixed navbar -->
    



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->


    <div class="container marketing">



      <!-- START THE FEATURETTES -->
      <div class="row">
			<div class="col-xs-12 posMiddle posCenter">
				<%= link_to "http://www.narrativescience.com/about-us" %>			
			</div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
     
  </body>
</html>
