<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>

  
    
    
    
    
    

    

    
    
    


    
    

    
  

  <div>
  
  


    
    
      <div>
<div>
  <div>
  <a href="http://index.htm" target="_blank">HOME</a>
  </div>
  <div>
      <img src="http://img/logo.svg">
  </div>
  <div>
<a href="http://about.htm" target="_blank">ABOUT</a>  
  </div>
</div>
      </div>
    


    
    <div>
      
      <ol>
        <li></li>
        <li></li>
        <li></li>
      </ol>
      <div>
        <div>
          <div>
            <div>
              <img src="http://img/slideone.svg">
              <p>Welcome to Close To Home, a tool that helps you pinpoint valuable resources in your community.</p>
            </div>
          </div>
        </div>
        <div>
          <div>
            <div>
              <img src="http://img/slidetwo.svg">
              <p>Just enter an address and the school ranges for your children to find public schools, parks and programs in your neighborhood.</p>
            </div>
          </div>
        </div>
        <div>
          <div>
            <div>
              <img src="http://img/slidethree.svg">
              <p>Whether you are relocating to a new neighborhood or becoming a first-time parent, Close To Home will help you track down great resources for your family in your area.</p>
            </div>
          </div>
        </div>
      </div>
      <a href="#0.1_myCarousel">
        <span></span>
        <span>Previous</span>
      </a>
      <a href="#0.1_myCarousel">
        <span></span>
        <span>Next</span>
      </a>
    </div>









    <div>
		<div>
			<div>
			<a href="http://search.htm" target="_blank">ENTER</a>			
			</div>
		</div> 
    </div>

    
    


    <div>


      

      <hr>

      


      
      
        <p><a href="#0.1_">Back to top</a></p>
        <p>© 2014 Company, Inc. · <a href="#0.1_">Privacy</a> · <a href="#0.1_">Terms</a></p>
      

    </div>


    
    
    
    
    
    

  </div>

</body></html>