<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>Close To Home | Welcome</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/close.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    
  </head>
<!-- NAVBAR
================================================== -->
  <body>

<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-pause="hover">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="container">
            <div class="carousel-caption carousel-max-caption">
              <img class="first-slide" <%= link_to image_tag("slideone.svg", alt: "First slide") %>>
              <p class="intro carousel-max-p">Welcome to Close To Home, a tool that helps you pinpoint valuable resources in your community.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption carousel-max-caption">
              <img class="second-slide carousel-max-img" src="img/slidetwo.svg"/>
              <p class="intro carousel-max-p">Just enter an address and the school ranges for your children to find public schools, parks and programs in your neighborhood.</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption carousel-max-caption">
              <img class="third-slide carousel-max-img" src="img/slidethree.svg"/>
              <p class="intro carousel-max-p">Whether you are relocating to a new neighborhood or becoming a first-time parent, Close To Home will help you track down great resources for your family in your area.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->









    <div class="posRowMarginTop posRowMarginBottom">
    <div class="row">
      <div class="col-xs-12 posCenter">
      <a class="btn btn-primary btn-lg enter" href="search.htm" role="button">ENTER</a>     
      </div>
    </div> 
    </div>

    </body>
